<!--
    <p>Hola soy {{title}}. Te mostraré unas ciudades de Colombia:</p>
    <ul *ngFor="let city of cities">
      <li [ngClass]="{'colorCity': city === 'Medellin'}" [ngStyle]="{'text-align': city === 'Cucuta' ? 'center' : 'left'}">
        {{city}}
      </li>
    </ul>

  <p *ngIf="name">El nombre es: {{name}}</p>
  <input type="text" [(ngModel)]="name">
-->

<div class="container">
  <h1>¡Hola, soy Simio!</h1>
  <p class="mt-10">Tengo una lista para tí ¿Deseas verla?</p>
  <mat-checkbox color="primary" (change)="toggleComponent($event)">Haz click para habilitar el contenido.</mat-checkbox>
</div>

<app-test-component *ngIf="optionButton"></app-test-component>
<router-outlet></router-outlet>
