<!--
    <p>Hola soy {{title}}. Te mostraré unas ciudades de Colombia:</p>
    <ul *ngFor="let city of cities">
      <li [ngClass]="{'colorCity': city === 'Medellin'}" [ngStyle]="{'text-align': city === 'Cucuta' ? 'center' : 'left'}">
        {{city}}
      </li>
    </ul>

  <p *ngIf="name">El nombre es: {{name}}</p>
  <input type="text" [(ngModel)]="name">
-->

<div class="container mx-auto px-4 lg lg:w-[740px]">
  <h1 class="text-blue-500  text-center text-3xl font-bold mt-5">¡Hola, soy Simio!</h1>
  <p class="mt-10">Tengo una lista para tí ¿Deseas verla?</p>
  <input type="checkbox" (change)="toggleComponent($event)"  class="mt-5 optionButton" /> Habilite aquí para poder ver el contenido.


</div>

<app-test-component *ngIf="optionButton"></app-test-component>
<router-outlet></router-outlet>
