<div class="componentDiv">
  <p>A continuación te dejaré una lista de objetos.</p>
  <div class="example-card">

    <div *ngFor="let character of characters" class="item">
      <div class="imageC">
        <img src="{{character.image}}" class="characterImage" alt="Image Character">
      </div>
      <div class="principalInfo">
        <h1>{{character.name}}</h1><mat-chip-list aria-label="Fish selection"><mat-chip color="warn" selected >KI: {{character.ki}}</mat-chip></mat-chip-list>
      </div>
      <p class="descriptionText">{{character.description}}</p>
    </div>

  </div>
</div>






