.item {
  flex-basis: calc(25% - 1rem);
  justify-content: space-around;
  background-color: darkslateblue;
  margin-bottom: 2rem;
  padding: 3rem;
  border-radius: 4%;
  color: white;
  transition: 0.2s;
  font-size: 1rem;
}

.item:hover{
  background-color: darkslategrey;
  cursor: pointer;
  transition: 0.2s;
}

.characterImage {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  border: 0.1rem solid;
  padding: 1rem;
}

.imageC{
  text-align: center;
}

.componentDiv{
  padding: 2rem;
}

.example-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.principalInfo{
  justify-content: space-between;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.descriptionText{
  text-align: justify;
}
