.imageCharacter{
  width: 10rem;
  margin: 2rem;
  text-align: center;
}
.imageC{
  text-align: center;
}

.titleInfo{
  font-weight: bold;
}

mat-dialog-actions{
  justify-content: right;
}

.custom-dialog-container{
  background-color: darkslateblue;
}
